<div  class="card" style="width: 18rem;display: flex; flex-wrap: wrap;">
  <div class="user"  *ngFor="let cust of customers">
  <span><mat-icon style="font-size: 200px;">supervisor_account</mat-icon></span>
      <span class="list-group-item"><b>Customer Id : </b>{{cust.customerId}}</span>
      <span class="list-group-item"><b>Customer Name : </b>{{cust.customerName}}</span>
      <span class="list-group-item"><b>Email Id : </b>{{cust.email}}</span>
      <span class="list-group-item"><b>Account No. : </b>{{cust.accountNo}}</span>
      <span class="list-group-item"><b>Current Balance : </b>{{cust.currentBalance}}</span>
  <span>
      <a [routerLink]="['/transaction',cust.customerId]" class="card-link" style="color: black;">
    <div class="card-body" style="background-color: skyblue;">
     Make Transaction
    </div>
  </a>
</span>
  
  </div>
  </div>

   