<div  class="card" style="width: 18rem;display: flex;">
  <div  *ngFor="let cust of customers">
  <li><mat-icon style="font-size: 200px;">supervisor_account</mat-icon></li>
 
      <li class="list-group-item"><b>Customer Name : </b>{{cust.customerName}}</li>
      <li class="list-group-item"><b>Email Id : </b>{{cust.email}}</li>
      <li class="list-group-item"><b>Account No. : </b>{{cust.accountNo}}</li>
      <li class="list-group-item"><b>Current Balance : </b>{{cust.currentBalance}}</li>
  
    <div class="card-body" style="background-color: skyblue;">
      <a href="#" class="card-link" style="color: black;">Money Transaction</a>
    </div>
  </div>
  </div>
 