<div class="container" style="display: flex;">
  <div class="jumbotron" style="background-color: skyblue;margin-top: 2%"><p style="margin-left: 25%;color: white; font-size: 50px;;">Transaction Successful</p></div>
  <div>
   <div> <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sender Name</th>
            <th scope="col">Receiver Name</th>
            <th scope="col">Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{transData.customerId}}</th>
            <td>{{transData.receiverName}}</td>
            <td>{{transData.amount}}</td>
           
          </tr>
          
        </tbody>
      </table>
      </div>
   
    
       </div>