<div class="container">
    
    <div class="left col-lg-6">
        <img src="/assets/bankk.jpg" style="width: 80%;height: 100%;">
    </div>
    <div class="mid col-lg-3">
        
        <a routerLink="/users">
        <mat-icon style="font-size: 200px;">supervisor_account</mat-icon>
        <button class="display btn btn-dark"><b>VIEW USERS</b></button>
        </a>
        <div class="right col-lg-3">
            <a routerLink="/transaction-lists"  >
            <mat-icon style="font-size: 170px;">compare_arrows</mat-icon>
            <button class="display btn btn-dark"><b>VIEW TRANSACTIONS</b></button>
            </a>
        </div>
    </div>
    <div class="addUser">
        <a routerLink="/addcustomer" style=" display: flex;">
    <span><mat-icon style="font-size: 80px;margin-left: 120%;">person_add</mat-icon></span>
    <span style="margin-top: 63%;"><button class=" btn btn-dark" style="font-weight: lighter;"><b>ADD USER</b></button></span>
        </a>
    </div>
    
</div>
